DisplayChooser/Connected Services/ServiceDisplayMode/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SixModeDetectorService" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRotationState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRotationStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SixModeDetectorService" minOccurs="0" name="GetRotationStateResult" type="q1:RotationStates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRotationMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySensorSixModeStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rotationState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>