DisplayChooser/Connected Services/ServiceDisplayMode/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SixModeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISixModeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SixModeDetectorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISixModeService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISixModeService_GetRotationState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRotationState" />
  </wsdl:message>
  <wsdl:message name="ISixModeService_GetRotationState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRotationStateResponse" />
  </wsdl:message>
  <wsdl:message name="ISixModeService_SetRotationMode_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRotationMode" />
  </wsdl:message>
  <wsdl:message name="ISixModeService_NotifySensorSixModeStates_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifySensorSixModeStates" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISixModeService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISixModeService/Register" message="tns:ISixModeService_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRotationState">
      <wsdl:input wsaw:Action="http://tempuri.org/ISixModeService/GetRotationState" message="tns:ISixModeService_GetRotationState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISixModeService/GetRotationStateResponse" message="tns:ISixModeService_GetRotationState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetRotationMode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISixModeService/SetRotationMode" message="tns:ISixModeService_SetRotationMode_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifySensorSixModeStates">
      <wsdl:output wsaw:Action="http://tempuri.org/ISixModeService/NotifySensorSixModeStates" message="tns:ISixModeService_NotifySensorSixModeStates_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISixModeService" type="tns:ISixModeService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISixModeService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ISixModeService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetRotationState">
      <soap12:operation soapAction="http://tempuri.org/ISixModeService/GetRotationState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRotationMode">
      <soap12:operation soapAction="http://tempuri.org/ISixModeService/SetRotationMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifySensorSixModeStates">
      <soap12:operation soapAction="http://tempuri.org/ISixModeService/NotifySensorSixModeStates" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SixModeService">
    <wsdl:port name="NetTcpBinding_ISixModeService" binding="tns:NetTcpBinding_ISixModeService">
      <soap12:address location="net.tcp://localhost:8733/SixModeDetectorService/SixModeService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/SixModeDetectorService/SixModeService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>